.inputBox {
  text-align: center;
}

.webView {
  width: 450px;
  height: 450px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.confirmAccount {
  margin-top: 20px;
  text-align: center;
}